@model IEnumerable<Ictshop.Models.Category>


@foreach (var item in Model)
{
    <a style="display:inline-block" href="/Product/ListByCateID?CateID=@item.CateID">
        @item.CateName
    </a>
   
}
