@using Ictshop.Models;
@model List<Brand>


<br />

<div class="bg-success">

    <h3 style="text-align:center"> DANH MỤC  </h3>

    <div style="background-color: white; margin-left: auto; margin-right: auto; display: block;" class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-2">
                
                <a href="/Product/ListByBrand?BrandID=@item.BrandID">
                    <img src="@Url.Content("~/Images/Brand/"+item.BrandImg)" class="img-responsive" alt="no image" />
                </a>
            </div>
        }
    </div>
</div>
