<style type="text/css">
    .giohang{
        color:white;
        font-size:large
         
    }

</style>

<a href="@Url.Action("Cart","Cart")" class="giohang" ><i class="fa fa-shopping-cart">
        </i> (@ViewBag.TongSoLuong)</a>

