@using Ictshop.Models
@model Product


@{
    ViewBag.Title = "xemchitiet";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
<br />

<CENTER>
    <div>
        <h2>CHI TIẾT SẢN PHẨM</h2>
        <img src="@Url.Content("~/Images/" +@Model.Image)" />
        <br />
        <h3> @Model.ProductName</h3>
        <h3 style="color:red">Giá: @String.Format("{0:0,0}", Model.Price)</h3>
        <br />
        Description: @Model.Description
        <br />
        @using (Html.BeginForm("ThemGioHang","Cart",new { @cProID=Model.ProductID, @strURL=Request.Url.ToString()}))
        {
                <input class="bg-primary" type="submit" value="Add to cart" id="bgnGioHang" />

        }
        
    </div>
</CENTER>